<div class="container">
  <nav class="navbar navbar-light">
    <a class="navbar-brand" routerLink=""><img src="./../assets/imgs/metIcon.jpg"></a>
    <a class="navbar-brand" routerLink="locations">Visit</a>
    <a class="navbar-brand" href="#">Exhibitions</a>
    <a class="navbar-brand" routerLink="events">Events</a>
    <a class="navbar-brand" href="#">Art</a>
    <a class="navbar-brand" href="#">Learn</a>
    <a class="navbar-brand" href="#">Join and Give</a>
    <a class="navbar-brand" routerLink="blogs">Blogs</a>
  </nav>
</div>
<router-outlet></router-outlet>
